output
*.py?
*.pid
.ropeproject
cache
*.swp
scripts/*.txt
scripts/*.ics

.*lock*

tags
tags.*
com-bio

# Temporary files used for newsemminar command:
new_seminar_email.txt
seminar_file.bib
.ipynb_checkpoints*
*.ipynb
.python-version
