{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}
{% block content_title %}
    <div class="row ">
        <div class="twelve columns">
            <h1><a href="{{ SITEURL }}/authors.html">Author:</a> {{ author }}</h1>
        </div>
        <h3>
            <div class="two columns column omega">
                <br />
                <a href="{{ SITEURL }}/feeds/authors/{{ author|lower|replace(' ','-') }}.atom.xml" target="_blank"><i class="icon-rss"></i></a>
                <a href="https://github.com/UHBiocomputation" target="_blank"><i class="icon-github"></i></a>
            </div>
        </h3>
    </div>
{% endblock %}

